<a href="https://colab.research.google.com/github/kaushal1017/Data-Analytics-Assignments/blob/main/Assignment1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1 : Data Structure in python

## 1.) Reverse a string

In [ ]:
str1 = str(input("Enter any string data: "))
print(str1[::-1])

Enter any string data:  Anuradha Singh Rajpoot
toopjaR hgniS ahdarunA

## 2.) Count the number of vowels in a string.

In [ ]:
str1 = str(input("Enter any string data: "))
vowel_list = ["a","e","i","o","u","A","E","I","O","U"]
count = 0

for i in str1:
  if i in vowel_list:
    count = count+1

print("Number of vowel in a given string is ",count)

Enter any string data: Kaushal Singh
Number of vowel in a given string is  4

## 3.) Check a given string is palindrome or not?

In [ ]:
str1 = str(input("Enter a string here: "))
str2 = str1[-1::-1]
if(str1 == str2):
  print("String is Pallindrome")
else:
  print("String is not Pallindrome")

Enter a string here: MADAM
String is Pallindrome

## 4.) Check if two strings are anagrams

In [ ]:
word1 = str(input("Enter first string here: "))
word2 = str(input("Enter second string here: "))
if len(word1)==len(word2):
  if sorted(word1) == sorted(word2):
    print("Both strings are anagram.")
  else:
    print("Both string are not anagram.")
else:
  print("Both string are not anagram.")

Enter first string here: cap
Enter second string here: pac
Both strings are anagram.

## 5.) Find all occurances of given substring within another string.

In [ ]:
string = "ababbababcdbabcdabab"
substring = "bab"

print(string.count(substring))

4

## 6.) perform basic string compression using counts of repeated character.

In [ ]:
s = input("enter a string here: ")
count = 1
for i in range(1,len(s)):
  if s[i]==s[i-1]:
    count += 1
  else:
    print(count,s[i-1])

# confusion

enter a string here: abcdaade
1 a
1 b
1 c
1 d
2 a
2 d

## 7.) determine if a string has all unique characters

In [ ]:
def isUniqueCharacter(s):
  y = sorted(s)
  for i in range(len(y)-1):
    if y[i] == y[i+1]:
      return False
  return True

s = input("enter a string here: ").lower()
if isUniqueCharacter(s):
  print("the string",s,"contains all unique elements.")
else:
  print("the string",s,"contains duplicate element.")

enter a string here: lobo
the string lobo contains duplicate element.

## 8.) convert a given string to uppercase or lowercase

In [ ]:
str1 = input("Enter a string here: ")
print("The uppercase conversion of given string is",str1.upper())
print("The lowercase conversion of given string is",str1.lower())

Enter a string here: Kaushal Singh
The uppercase conversion of given string is KAUSHAL SINGH
The lowercase conversion of given string is kaushal singh

## 9.) count the number of words in a string?

In [ ]:
str1 = input("Enter string here: ")
count = 0
x = str1.split()
for i in x:
  count = count + 1
print("Number of words in a string is",count)

Enter string here: my name is kaushal singh
Number of words in a string is 5

## 10.) concatenate 2 string without using + operator.

In [ ]:
from typing_extensions import Concatenate
str1 = input("enter first string here: ")
str2 = input("enter second string here: ")

print(" ".join([str1,str2]))

enter first string here: Kaushal
enter second string here: Singh
Kaushal Singh

## 11.) remove all occurrences of a specific element from a list

In [ ]:
list1 = [1,2,3,1,4,5,6,1,2,4,8,9,1]

# let remove all 2 from the above list
list(filter(lambda a: a != 2, list1))

[1, 3, 1, 4, 5, 6, 1, 4, 8, 9, 1]

## 12.) find the second largest number in a given list of integers?

In [ ]:
list1 = [10, 20, 20, 4, 50, 45, 45, 99, 99]

# Removing duplicates from the list
list2 = list(set(list1))

# Sorting the  list
list2.sort()

print("Second largest element is:", list2[-2])

Second largest element is: 50

## 13.) count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [ ]:
i = ['apple','red','apple','red','red','pear']

d = {x:i.count(x) for x in i}
print (d)

{'apple': 2, 'red': 3, 'pear': 1}

## 14.) code to reverse a list in-place without using any built-in reverse functions

In [ ]:
list1 = [10,20,50,40,30,70,80,60,90]
print(list1[::-1])

[90, 60, 80, 70, 30, 40, 50, 20, 10]

## 15.)find and remove duplicates from a list while preserving the original order of elements

In [ ]:
list1 = [1, 3, 5, 6, 7, 5, 6, 1]
print("The original list is : " + str(list1))
res = []

[res.append(x) for x in list1 if x not in res]


print ("The list after removing duplicates : ", str(res))

The original list is : [1, 3, 5, 6, 7, 5, 6, 1]
The list after removing duplicates :  [1, 3, 5, 6, 7]

## 16.) check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
test_list = [1, 4,5,8, 10]

print ("Original list : " + str(test_list))

flag = 0
if(test_list == sorted(test_list)):
    flag = 1


if (flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

## 17.)  Write a code to merge two sorted lists into a single sorted list?

In [ ]:
list1 = [1, 5, 6, 2, 3, 9, 11]
list2 = [3, 4, 7, 8, 5, 6, 10]

sorted_list1 = sorted(list1)
sorted_list2 = sorted(list2)
print("the sorted list1 is: ", sorted_list1)
print("the sorted list2 is: ", sorted_list2)

res = sorted(sorted_list1 + sorted_list2)

# printing result
print ("The combined sorted list is :",res)

the sorted list1 is:  [1, 2, 3, 5, 6, 9, 11]
the sorted list2 is:  [3, 4, 5, 6, 7, 8, 10]
The combined sorted list is : [1, 2, 3, 3, 4, 5, 5, 6, 6, 7, 8, 9, 10, 11]

## 18.) Implement a code to find the intersection of two given lists?

In [ ]:
def intersection(list1, list2):
    return list(set(list1) & set(list2))


list1 = [1,3,5,8,9,7]
list2 = [2,4,5,7,8,4,6]
print(intersection(list1, list2))

[8, 5, 7]

## 19.) Create a code to find the union of two lists without duplicates

In [ ]:
def union(list1, list2):
    return list(set(list1) | set(list2))


list1 = [1,3,5,8,9,7]
list2 = [2,4,5,7,8,4,6]
print(union(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 20.) Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
list1 = [1, 4, 5, 6, 3]

print("The original list is : ",list1)
list2 = list(set(list1))

print("The shuffled list is :",list2)

The original list is :  [1, 4, 5, 6, 3]
The shuffled list is : [1, 3, 4, 5, 6]

## 21.) takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [ ]:
t1 = (1,5,7,5,4,6)
t2 = (4,7,9,11,14,5)

t3 = tuple(set(t1).intersection(set(t2)))
print(t3)

(4, 5, 7)

## 22.) code that prompts the user to enter two sets of integers separated by commas. Then, print the  intersection of these two sets

In [ ]:
x = set(input().split(','))
y = set(input().split(','))

print("set x: ",x)
print("set y: ",y)

print("Intersection of set x and set y: ",x & y)

1,2,3,4,5,6
4,5,3,7,8,9
set x:  {'3', '5', '1', '4', '2', '6'}
set y:  {'3', '5', '4', '9', '7', '8'}
Intersection of set x and set y:  {'5', '3', '4'}

## 23.) concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [ ]:
t1 = tuple(input().split(','))
t2 = tuple(input().split(','))

print("first tuple is : ",t1)
print("second tuple is : ",t2)

print("Concatenation of two tuple: ", t1+t2)

2,3,5,6
7,6,8,9
first tuple is :  ('2', '3', '5', '6')
second tuple is :  ('7', '6', '8', '9')
Concatenation of two tuple:  ('2', '3', '5', '6', '7', '6', '8', '9')

## 24.) code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set&

In [ ]:
x = set(input().split(','))
y = set(input().split(','))

print("set x: ",x)
print("set y: ",y)

print("Elements present in set x not in set y are:",x - y)

2,3,5,7,8
1,3,5,7,9,10
set x:  {'3', '5', '2', '7', '8'}
set y:  {'3', '5', '1', '9', '7', '10'}
Elements present in set x not in set y are: {'2', '8'}

## 25.) takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [ ]:
orignal_tuple = (10,20,30,40,50)
num1 = 35
num2 = 60
new_tuple = tuple(list(orignal_tuple) + [num1,num2])
print(new_tuple)

(10, 20, 30, 40, 50, 35, 60)

## 26.) Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets&

In [ ]:
setA =  set(input("Enter first set of characters: "))
setB =  set(input("Enter second set of characters: "))

print(setA.union(setB))

Enter first set of characters: a,a,v,b,c,d,e,f
Enter second set of characters: a,b,c,d,r,t,s
{'v', 's', 'f', 'b', 'a', 'd', 'c', 'e', 'r', ',', 't'}

## 27.) Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
# prompt: maximum and minimum values from the tuple using tuple unpacking.

t1 = (10,40,30,60,70,80,40,10,5)
print(t1)
max_val, min_val = max(t1), min(t1)
print("Maximum value:",max_val)
print(f"Minimum value:",min_val)

(10, 40, 30, 60, 70, 80, 40, 10, 5)
Maximum value: 80
Minimum value: 5

## 28.) Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [ ]:
set_A = {10,20,30,40,50}
set_B = {30,40,50,60,70}

print("set A = ",set_A)
print("set B = ",set_A)

print("Union of set A and set B :")
print(set_A.union(set_B))

print("Intersection of set A and set B :")
print(set_A.intersection(set_B))

print("Difference of set A and set B :")
print(set_A.difference(set_B))

set A =  {50, 20, 40, 10, 30}
set B =  {50, 20, 40, 10, 30}
Union of set A and set B :
{70, 40, 10, 50, 20, 60, 30}
Intersection of set A and set B :
{40, 50, 30}
Difference of set A and set B :
{10, 20}

## 29.) Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [ ]:
tuple1 = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
x = [i for i in tuple1 if i == 10]
print("the element 10 occurs", len(x), "times")

the element 10 occurs 3 times

## 30.) Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [ ]:
A = input("enter some string : ")
A = {n for n in A.split(',')}

B = input("enter some string: ")
B = {n for n in B.split(',')}

print("Symmetric difference of set A and B are :-")
print(A.symmetric_difference(B))

enter some string : a,b,c,d,e
enter some string: d,e,c,f,g
Symmetric difference of set A and B are :-
{'b', 'a', 'g', 'f'}

## 31.) Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [ ]:
def word_frequency(word_list):

  dict = {}

  for word in word_list:
    keys = dict.keys()

    if word in keys:
      dict[word] += 1
    else:
      dict[word] = 1

  return dict


word_list = ["mango","guava","orange","guava","litchi","apple","mango","guava"]
print(word_frequency(word_list))

{'mango': 2, 'guava': 3, 'orange': 1, 'litchi': 1, 'apple': 1}

## 32.) takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together ?

In [ ]:
from collections import Counter

dict1 = {'A': 12, 'B': 25, 'C': 9}
dict2 = {"B":120,"C":97,"D":35,"E":46}
dict3= {}

print("first dictionary: ",dict1)
print("second dictionary: ",dict2)

dict3 = Counter(dict1)+ Counter(dict2)

print("dictionary after merging: ", dict3)

first dictionary:  {'A': 12, 'B': 25, 'C': 9}
second dictionary:  {'B': 120, 'C': 97, 'D': 35, 'E': 46}
dictionary after merging:  Counter({'B': 145, 'C': 106, 'E': 46, 'D': 35, 'A': 12})

## 33.) code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

### Confusion

## 34.) takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [ ]:
import operator

d = {'d': 2, 'c': 4, 'a': 3, 'b': 1, 'e': 0}

print('Original dictionary : ',d)

# Sort the items  based on the values.
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)

# The 'reverse=True' argument sorts the list in descending order by value.
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1), reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {'d': 2, 'c': 4, 'a': 3, 'b': 1, 'e': 0}
Dictionary in ascending order by value :  [('e', 0), ('b', 1), ('d', 2), ('a', 3), ('c', 4)]
Dictionary in descending order by value :  {'c': 4, 'a': 3, 'd': 2, 'b': 1, 'e': 0}

## 35.) code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [ ]:
old_dict = {'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

# Printing original dictionary
print ("Original dictionary is : ")
print(old_dict)

print()
new_dict = {}
for key, value in old_dict.items():
   if value in new_dict:
       new_dict[value].append(key)
   else:
       new_dict[value]=[key]

# Printing new dictionary after swapping
# keys and values
print ("Dictionary after swapping is :  ")
print("keys: values")
for i in new_dict:
    print(i, " :", new_dict[i])

Original dictionary is :
{'A': 67, 'B': 23, 'C': 45, 'E': 12, 'F': 69, 'G': 67, 'H': 23}

Dictionary after swapping is :
keys: values
67  : ['A', 'G']
23  : ['B', 'H']
45  : ['C']
12  : ['E']
69  : ['F']